@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
  --blue-100: #15202B;
  --green: #15AC59;
  --green-100: #3de488;
}

* {
  box-sizing: border-radius;
  font-family: 'Roboto', sans-serif;
}

.container {
  border: 1px solid #000000;
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  margin: auto;
  display: grid;
  place-items: center;
  background: var(--green-100);
}

.items {
  width: 300px;
  background: var(--blue-100);
  -webkit-box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.5);
  box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.5);
  border-top: 10px solid var(--green);
}

.header p{
  padding: 5px 20px;
  margin: 10px;
  color: var(--green);
  font-weight: bold;
  font-size: 20px;
}

.header hr {
  width: 20%;
  margin: 0px 30px;
  border: 1px solid var(--green);
}

.list {
  padding: 10px;
  margin: 10px;
  display: block;
}

.list-content {
  padding-right: 0px;
  display: block;
  font-size: 13px;
}

.list-content span {
  color: white;
  display: block;
  margin: 7px;
  padding: 7px;
  border: 1px solid transparent;
}

.list-content :hover{
  border-radius: 15px;
  border: 1px solid var(--green);
}

.icon {
  color: var(--green)
}